@import 'tailwindcss/base.css';
@import 'tailwindcss/components.css';
@import 'tailwindcss/utilities.css';

html {
	@apply duration-200;
	@apply transition-colors;
}

.cursor-bg {
	background: white;
}

html.dark, .dark .cursor-bg {
	background: #222;
}

pre, code {
	@apply text-gray-700;
}

.dark pre, .dark code {
	@apply text-gray-400;
}

.content {
	@apply px-6;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

@screen lg {
	.content {
		width: 80%;
	}
}

.card {
	@apply border;
	@apply shadow;
	@apply rounded-2xl;
	@apply p-4;
	@apply bg-white;
}

.dark .card {
	@apply border-gray-700;
	background: #222;
}

.btn {
	@apply border;
	border-width: 2px;
	display: flex;
	@apply items-center;
	@apply justify-center;
	@apply py-2;
	@apply text-green-500;
	@apply border-green-500;
	@apply duration-200;
	@apply rounded-md;
	@apply font-title;
}

.btn:hover {
	@apply bg-green-500;
	@apply text-white;
}
